

<div id="messages">
 <% Object.keys(messages).forEach(function (type) { %>
  <% messages[type].forEach(function (message) { %> 
  	  
  	  <% if(type === 'error') { %>
	  	<div class="alert alert-danger"><%= message %></div> <br/>
	  <% } else if (type === 'success') { %>
	    <div class="alert alert-success"><%= message %></div> <br/>
	  <% } %>
	  
   <% }) %>
 <% }) %>
</div>